body {
	background: #EBEBEB;
	padding: 0px 30px 30px 30px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #333;
}

.logo {
	margin-bottom: 30px;
	text-align: left;
	padding-left: 206px;
}



center.top {
	background: url('los-salvajes.png') no-repeat scroll transparent;
	
}

/*=======================
++++ PLAYER
=======================*/

#player {
	padding-bottom: 10px;
	border-bottom: #d0cece;
}

/*=======================
++++ TEXTOS
=======================*/

/* títulos */

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 40px;
}


/*=======================
++++ BUSCADOR
=======================*/

input#search {
	border: 1px solid #ccc;
	padding: 8px;
	font-size: 14px;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
}

input#search[type='button'] {
	background: #23a4d4;
	border: 1px solid #167be3;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
	padding: 8px;
	font-size: 12px;
}

input#search[type='button']:hover {
	background: #167be3;
	border: 1px solid #007eff;
}


.buscador {
	margin-top: 20px;
	
}

.content {
	width: 960px;
	margin: 0px auto;
}

/*=========================
++++ RESULTADOS DE BÚSQUEDA
=========================*/

ul#listita li {
	list-style-type: none;
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}

#listita, #listita a {
	font-size: 16px;
	color: #313131;
	text-decoration: none;
	
}

#listita img {
	margin-right: 10px;
	border: 4px solid #e0e0e0;
}

#listita input[type='button'] {
	background: #f2f3f4;
	padding: 3px;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
	text-transform: uppercase;
	font-size: 10px;
	color: #8f8f8f;
	margin-right: 15px;
	border: 1px solid #ececec;
}

#listita input[type='button']:hover {
	background: #2fbf91;
	border: 1px solid #41efb8;
	color: #fff;
}
