body {
	background: #EBEBEB;
	padding: 0px 30px 30px 30px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #333;
	font-size: 13px;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
}

.logo {
	margin-bottom: 30px;
	text-align: left;
	padding-left: 206px;
}



center.top {
	background: url('los-salvajes.png') no-repeat scroll transparent;
	
}


/*=======================
++++ FOOTER
=======================*/

#footer {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	text-align: left;
	height: 73px;
	margin-top: 30px;
}

.content-footer {
	width: 960px;
	margin: 0px auto;
}

#footer img {
	padding-right: 15px;
	border-right: 1px solid #ccc;
	margin-right: 15px;
	float: left;
}

/*=======================
++++ PLAYER
=======================*/

#players {
	padding-bottom: 10px;
	border-bottom: #d0cece;
	height: 360px;
}

/*=======================
++++ TEXTOS
=======================*/

/* títulos */

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 40px;
}

/* otros */

.link {
	margin-bottom: 15px;
}

/*=======================
++++ BUSCADOR
=======================*/

input#search {
	border: 1px solid #ccc;
	padding: 8px;
	font-size: 14px;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
}

input#search[type='button'] {
	background: #23a4d4;
	border: 1px solid #167be3;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
	padding: 8px;
	font-size: 12px;
}

input#search[type='button']:hover {
	background: #167be3;
	border: 1px solid #007eff;
}


.buscador {
	width: 960px;
	margin: 20px auto 0px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	background: url('bg-buscador.png') repeat-x scroll transparent;
}

.content {
	width: 960px;
	margin: 0px auto;
	border-top: 1px solid #fff;

}

/*=========================
++++ RESULTADOS DE BÚSQUEDA
=========================*/

ul#listita {
	margin-bottom: 10px;
}

ul#listita li {
	list-style-type: none;
	text-align: left;
	margin-bottom: 10px;
	height: 90px;
	padding: 10px;
	
}

ul#listita li:hover {
	background: #fff;
}

.odd {
	background: #DDDDDD;
	
}

.thumbnail img {
	float: left;
	margin-right: 10px;
}

#listita, #listita a {
	font-size: 16px;
	color: #313131;
	text-decoration: none;
	
}

#listita input[type='button'] {
	background: #23A4D4;
	padding: 3px;
	-webkit-border-radius: 03px;
	-moz-border-radius: 03px;
	border-radius: 03px;
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	margin-right: 15px;
	border: 1px solid #167BE3;
	margin-bottom: 5px;
}

#listita input[type='button']:hover {
	background: #167be3;
	border: 1px solid #007eff;
	
}
